@import "../../Styles/Mixins.scss";
@import "../../Styles/Variables.scss";

.pagination {
  @include container();

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 2rem;
    color: $darker-color;

    a {
      cursor: pointer;
      padding: 0.5rem;
    }
  }
}
