@import "../../Styles/Mixins.scss";
@import "../../Styles/Variables.scss";

.pagination {
  @include container();

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 2rem;
    color: $darker-color;

    .number {
      cursor: pointer;
      padding: 0.5rem;
    }

    .active {
      background-color: $light-color;
      border-bottom: 2px solid $darker-color;
    }
  }
}
