// 1200 px
@media (max-width: 75em) {
  .mainNavList,
  .mainNavBtn {
    gap: 1rem;
  }

  html {
    // 9px
    font-size: 56.25%;
  }
}

// 1024px
@media (max-width: 64em) {
  html {
    // 8px
    font-size: 50%;
  }
}

// 848px
@media (max-width: 53em) {
}

// 512px
@media (max-width: 32em) {
}
