// COLORS
$primary-color: #339af0;
$darker-color: #297bc0;
$dark-color: #1f5c90;
$light-color: #ebf5fe;
$light-gray: #767676;

$text-color-primary: #555;
$text-color-dark: #333;
$very-light-gray: #e9ecef;
$white: #fff;

$error: #f03e3e;

// FONT-SIZES
$default-font-size: 1.6rem;

// FONT-WEIGHTS
$default-font-weight: 400;
$medium-font-weight: 500;
$semi-bold-font-weight: 600;
$bold-font-weight: 700;

// LINE-HEIGHTS

// BORDER-RADIUS
$border-radius: 70px;
