@import "../../../Styles/Mixins.scss";
@import "../../../Styles/Variables.scss";

.signin {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.control {
  text-align: center;

  label {
    font-size: 1.8rem;
  }

  input {
    display: block;
    width: 60%;
    padding: 1rem 2rem;
    border-radius: 15px;
    font-size: 1.6rem;
    border: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    margin: 1rem auto 0 auto;
  }
}

.actionBtn {
  @include btn();
  display: block;
  margin: 0 auto;
}

.invalidInput {
  @include invalid-input();
}

.error {
  font-size: 1.6rem;
  text-align: center;
  color: $error;
}
